* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  padding: 15px;
  font-family: montserrat, sans-serif;
  color: rgb(206, 24, 94);
  font-size: 35px;
}
.header {
  height: 400px;
  background-image: url("https://million-wallpapers.com/wallpapers/3/79/513096224871710.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.header-title {
  text-align: center;
  color: #000;
  font-size: 28px;
  font-family: bold;
  padding-top: 5%;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.posts {
  width: 30%;
}
.btn-parent {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px;
  text-align: center;
  background-color: crimson;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  margin: 15px;
}
.artist_name {
  font-size: 20px;
  font-family: montserrat;
  color: crimson;
  font-weight: bold;
}
.img {
  height: 300px;
  width: 100%;
  background-size: cover;
}
.painting{
  line-height: 1.4;
  font-size: 15px;
  color: rgb(82, 82, 82);
  margin-bottom: 10px;
}
.form-title{
  margin: 10px auto;
  color: crimson;
}
/*  pop up style  */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 40%;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #dbdbdb;;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: crimson;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
 
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* Media query */
@media (max-width: 700px) {
  .title {
    font-size: 22px;
  }
  .content {
    flex-direction: column;
  }
  .posts {
    width: 80%;
  }
  .header-title {
    font-size: 18px;
  }
}
